@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #333333;
  --columbia-blue: #C4D8E2;
  --accent-grey: #6D6E71;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;      /* Deep Grey/Black */
    --foreground: #F2F2F2;      /* Off-white/Light Grey */
    --columbia-blue: #9BCBEB;   /* Slightly desaturated for dark mode contrast */
  }
}

/* app/globals.css */
@layer base {
  button, input, textarea, select, option {
    font-family: inherit !important;
  }
}